.social {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 4);
  margin-bottom: calc(var(--gap) * 3);

  & .links {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-items: flex-start;
    justify-content: center;
    gap: calc(var(--gap) / 2) var(--gap);

    @media (width < 650px) {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
}