.button {
  position: absolute !important;
  top: 50%;
  margin: 0.5rem;
  z-index: 99;

  &::after {
    z-index: 0;
    position: absolute;
    content: "";
    inset: 0;
    background-color: white;
    border-radius: 50%;
  }
}

.next {
  right: 0px;
  transform: translateY(-50%) rotate(180deg);
}

.previous {
  left: 0px;
  transform: translateY(-50%);
}