.layout {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: white;
  margin-bottom: auto;

  & header {
    position: absolute;
    z-index: 999;
    top: 5px;
    right: 5px;
    width: 100%;
    user-select: none;
    padding: 5px;

    & .closeButton {
      margin-left: auto;
    }
  }

  :global(.slick-slider) {
    margin-block: auto;
  }

  & svg {
    fill: black;
    color: black;
    height: clamp(30px, 40px - 2vw, 40px);
  }
}