.layout {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: white;

  & header {
    background-color: white;
    width: 100%;
    user-select: none;
    padding: 5px;
    margin-bottom: auto;

    & .closeButton {
      margin-left: auto;
    }
  }

  & svg {
    fill: black;
    color: black;
    height: clamp(30px, 40px - 2vw, 40px);
  }
}