.presentation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  row-gap: calc(var(--gap) / 2);
  column-gap: calc(var(--gap) * 2);
  justify-content: space-between;
  align-items: center;
  grid-template-areas:
    "name picture"
    "job  picture";

  @media (width < 650px) {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "name name"
      "job  picture";
    column-gap: calc(var(--gap));
  }

  & .name {
    grid-area: name;
    display: flex;
    gap: calc(var(--gap) / 2);
    align-items: flex-start;
    font-weight: 500;
    font-size: clamp(2.5rem, 7vw, 5rem);

    @media (width < 650px) {
      font-weight: 600;
    }

    & span::first-letter {
      font-size: clamp(3.4rem, 8vw, 7rem);
      font-weight: 700;

      @media (width < 650px) {
        font-weight: 700;
      }
    }
  }

  & .job {
    grid-area: job;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    font-size: clamp(1.8rem, 4vw, 3rem);

    & span:nth-child(1) {
      font-weight: 500;
    }

    & span:nth-child(2) {
      font-weight: 800;
    }
  }

  & .picture {
    grid-area: picture;
    align-self: center;
    justify-self: flex-end;
    --max-size: 300px;
    --min-size: 80px;
    max-width: var(--max-size);
    max-height: var(--max-size);
    width: clamp(var(--min-size), 25vw, var(--max-size));
    height: clamp(var(--min-size), 25vw, var(--max-size));
    border-radius: 50%;
    object-fit: cover;
    object-position: 40% 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}