.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: calc(var(--gap) / 2);
  column-gap: 2rem;
  grid-template-areas:
    "name picture"
    "job  picture"
    "description picture";

  @media (width < 650px) {
    max-width: 450px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
  }

  & .name {

    & span::first-letter {
      font-size: clamp(3.4rem, 8vw, 7rem);
      font-weight: 700;

      @media (width < 650px) {
        font-weight: 600;
      }
    }

    grid-area: name;
    display: flex;
    gap: calc(var(--gap) / 2);
    align-items: flex-start;
    font-weight: 500;
    font-size: clamp(2.5rem, 7vw, 5rem);
  }

  & .job {
    grid-area: job;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    font-size: clamp(1.8rem, 4vw, 3rem);

    & span:nth-child(1) {
      font-weight: 500;
    }

    & span:nth-child(2) {
      font-weight: 800;
    }

    @media (width < 650px) {
      flex-direction: column;
      align-items: end;
      gap: 0.5rem;
    }
  }

  & .description {
    grid-area: description;
    background-color: rgba(223, 223, 223, 0.24);
    padding: 1rem;
    max-width: 450px;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    background-color: black;
    color: white;
    border-radius: 5px;

    & a {
      display: inline-block;
      position: relative;
      top: 3px;
      text-decoration: none;
      color: white;
      aspect-ratio: 1/1;
      height: clamp(30px, 40px - 2vw, 40px);
      width: clamp(30px, 40px - 2vw, 40px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-inline: 0.2em;
    }

    & .svg {
      position: relative;
      z-index: 1;
      height: clamp(20px, 30px - 2vw, 30px);
      width: clamp(20px, 30px - 2vw, 30px);
    }
  }

  & .picture {
    grid-area: picture;
    align-self: center;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    width: clamp(250px, 30vw, 400px);
    height: clamp(250px, 30vw, 400px);
    border-radius: 10px;
    object-fit: cover;
    object-position: 40% 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-self: center;

    @media (width < 650px) {
      max-width: none;
      max-height: none;
      width: 100%;
      height: auto;
    }
  }
}