.container {
  & .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    gap: 2rem;

    @media (width < 650px) {
      display: flex;
      flex-direction: column;
      gap: calc(var(--gap) / 2);
    }
  }
}