:root {
  --clr-grey: #F9F9F9;
  --gap: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-inter);
  padding: clamp(5px, 1vw, 20px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins);
}

h1 {
  font-weight: 700;
}

html,
main {
  min-height: 100dvh;
  max-width: 1200px;
  margin-inline: auto;
}