:root {
  --clr-grey: #F9F9F9;
  --gap: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-inter);
  padding-inline: clamp(5px, 2vw, 2rem);
  padding-block: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins);
}

h3 {
  font-weight: 700;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  margin-bottom: calc(var(--gap) * 1.5);
  text-align: center;

  @media (width < 650px) {
    margin-bottom: var(--gap);
  }
}

html,
main {
  min-height: 100dvh;
  max-width: 1200px;
  margin-inline: auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button,
a:not(footer a) {
  position: relative;
  padding: 3px;

  & svg {
    z-index: 1;
    transition: 300ms;
  }

  &:hover::before {
    transform: scale(1);
    border-radius: 50%;
    opacity: 1;
  }

  &:hover svg {
    fill: black !important;
    color: black !important
  }

  &::before {
    z-index: 0;
    position: absolute;
    content: "";
    inset: 0;
    background-color: white;
    transition: 250ms ease-in-out;
    transform: scale(0);
    opacity: 0;
  }
}