:root {
  --clr-grey: #F9F9F9;
  --gap: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-inter);
  padding-inline: clamp(5px, 3.5vw, 4rem);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins);
}

html,
main {
  min-height: 100dvh;
  max-width: 1200px;
  margin-inline: auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

main > section,
footer {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button:not(.slick-dots button),
a:not(footer a) {
  position: relative;
  padding: 3px;

  & svg {
    z-index: 1;
    transition: 300ms;
  }

  &:hover::before {
    transform: scale(1);
    border-radius: 50%;
    opacity: 1;
  }

  &:hover svg {
    fill: black;
    color: black;
  }

  &::before {
    z-index: 1;
    position: absolute;
    content: "";
    inset: 0;
    background-color: white;
    transition: 250ms ease-in-out;
    transform: scale(0);
    opacity: 0;
  }
}