:root {
  --clr-grey: #F9F9F9;
  --gap: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-inter);
  padding: clamp(5px, 1vw, 20px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins);
}

h2 {
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: calc(var(--gap) / 1.5);

  @media (width < 650px) {
    margin-bottom: calc(var(--gap) / 2);
  }
}

html,
main {
  min-height: 100dvh;
  max-width: 1200px;
  margin-inline: auto;
}