@keyframes displayProjectCard {
  to {
    transform: scale(1);
  }
}

@keyframes displayProjectName {
  to {
    transform: translateY(0);
  }
}

@keyframes displayProjectNav {
  to {
    transform: translateY(0);
  }
}

@keyframes displayPreview {
  50% {
    opacity: 1;
  }

  50%,
  100% {
    filter: grayscale(0);
    opacity: 1;
  }
}

.projectCard {
  --project-gap: 1rem;
  padding: var(--project-gap);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header header"
    "tags previewContainer"
    "description previewContainer";
  gap: var(--project-gap);
  background-color: var(--clr-grey);
  width: 100%;
  transform: scale(0.7);

  @media (width < 650px) {
    display: flex;
    flex-direction: column;
  }

  &.show {
    animation: displayProjectCard 400ms forwards;

    & .header {
      & h4 {
        animation: displayProjectName 400ms 200ms forwards cubic-bezier(.17, .67, .37, 1.14);
      }

      & .nav {
        animation: displayProjectNav 400ms 200ms forwards cubic-bezier(.17, .67, .37, 1.14);
      }
    }

    & .tags {
      animation: displayPreview 500ms 200ms linear forwards;
    }

    & .description {
      animation: displayPreview 500ms 300ms linear forwards;
    }

    & .previewContainer {
      animation: displayPreview 500ms 400ms linear forwards;
    }
  }

  & .header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: calc(var(--project-gap) * -1);
    margin-bottom: 0;
    padding: calc(var(--project-gap) / 1.5);
    gap: calc(var(--project-gap) / 2) var(--project-gap);
    overflow-y: hidden;

    & .nav {
      text-align: right;
      display: flex;
      gap: var(--project-gap);
      justify-content: flex-end;
      align-items: center;
      transform: translateY(200%);

      & .link {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;

        &:hover svg {
          fill: black;
          color: black;
        }
      }

      & .button {
        position: relative;
        top: 1px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
      }

      & .svg {
        fill: white;
        color: white;
        height: clamp(25px, 35px - 2vw, 35px);
      }
    }

    & .title {
      grid-area: title;
      font-size: clamp(1.2rem, 2vw, 1.5rem);
      white-space: nowrap;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
      transform: translateY(-200%);
    }
  }

  & :is(.tags, .description, .previewContainer) {
    filter: grayscale(1);
    opacity: 0;
  }

  & .tags {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--project-gap) / 2);
    font-size: clamp(0.8rem, 1.5vw, 1rem);

    & .tag {
      padding: 3px 7px;
      border: solid 1px black;
    }
  }

  & .description {
    grid-area: description;
    background-color: rgba(223, 223, 223, 0.24);
    display: grid;
    place-items: center;
    padding: calc(var(--project-gap) / 2);
  }

  & .previewContainer {
    display: grid;
    place-items: center;
    grid-area: previewContainer;

    & .preview {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }
}