@keyframes displayLinkName {
  to {
    transform: scale(1);
  }
}

@keyframes displayLinkIcon {
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.socialLink {
  position: relative;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 3px 5px;
  width: fit-content;
  overflow-y: hidden;

  &.show {
    animation: displayCategory 400ms forwards;

    & .name {
      animation: displayLinkName 400ms forwards;
    }

    & svg {
      animation: displayLinkIcon 600ms 200ms cubic-bezier(.17, .67, .52, 1.27) forwards;
    }
  }

  &:hover {
    color: white;

    &::before {
      transform: scaleX(1);
    }

    & svg {
      fill: white;
      transition: 150ms;
    }
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    background-color: black;
    transform: scaleX(0);
    transition: all 250ms ease-in-out;
    transform-origin: left;
  }

  .name {
    transform: translateY(-200%);
  }

  & svg {
    height: clamp(25px, 35px - 2vw, 35px);
    transform: translateX(-100%) rotate(-450deg);
    opacity: 0;
  }
}