.skills {
  & .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);

    @media (width < 650px) {
      display: flex;
      flex-direction: column;
    }
  }
}