@keyframes displayTitle {
  to {
    transform: translateY(0);
  }
}

@keyframes displayLine {
  to {
    transform: scaleX(1);
  }
}

.sectionTitle {
  position: relative;
  font-weight: 700;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  margin-bottom: calc(var(--gap) * 1.5);
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width < 650px) {
    margin-bottom: var(--gap);
  }

  &.show span {
    animation: displayTitle 400ms forwards cubic-bezier(.17, .67, .37, 1.14);
  }

  & span:nth-child(1) {
    font-size: clamp(3.3rem, 6vw, 5rem);
    font-weight: 800;
    transform: translateY(-200%);
  }

  & span:nth-child(2) {
    transform: translateY(200%);
    position: relative;

    &::before {
      position: absolute;
      inset: 0;
      content: "";
      border-bottom: solid 3px black;
      transform-origin: left;
      transform: scaleX(0)
    }
  }
}